[submodule "dep/home-manager"]
	path = dep/home-manager
	url = git@github.com:nix-community/home-manager.git
	branch = release-25.11
[submodule "dep/nixpkgs"]
	path = dep/nixpkgs
	url = git@github.com:NixOS/nixpkgs.git
	branch = nixos-25.11
