dotfiles/vim/.netrwhist
dotfiles/config/enchant/
dotfiles/config/fish/fishd.*
dotfiles/config/gedit/
dotfiles/config/gnome-control-center/
dotfiles/config/mimeapps.list
dotfiles/config/pulse/
dotfiles/config/spotify/
dotfiles/config/Trolltech.conf
dotfiles/xmonad/xmonad-*
dotfiles/xmonad/xmonad.errors
dotfiles/xmonad/xmonad.hi
dotfiles/xmonad/xmonad.o
dotfiles/xmonad/xmonad.state
