[submodule "vim/bundles/idris-vim"]
	path = dotfiles/vim/bundles/idris-vim
	url = git@github.com:idris-hackers/idris-vim.git
[submodule "dotfiles/emacs.d"]
	path = dotfiles/emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "private"]
	path = private
	url = git@gitlab.com:kmicklas/config-private.git
[submodule "dotfiles/oh-my-zsh"]
	path = dotfiles/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
